<ul class="collapsible">
  <li>
    <div class="collapsible-header">
      First
    </div>
    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
  </li>
  <li>
    <div class="collapsible-header">
      Second
    </div>
    <div class="collapsible-body">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed, totam.
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      Third
    </div>
    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
  </li>
</ul>
