<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper blue darken-3 z-depth-2">
      <a href="#" class="brand-logo">Make Your Own Stylesheet</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/user/logout" class="navlink">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>
