<div class="right-side-bar">
  <div class="card">
    <div class="card-image">
      <img src="http://materializecss.com/images/sample-1.jpg" />
      <a class="btn-floating btn-large halfway-fab waves-effect waves-light red"
        ><i class="material-icons">add</i></a
      >
    </div>
    <div class="card-content">
      <span class="card-title">Card Title</span>
      <p>
        I am a very simple card. I am good at containing small bits of
        information. I am convenient because I require little markup to use
        effectively.
      </p>
    </div>
  </div>
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title"></span>
      <p>
        I am a very simple card. I am good at containing small bits of
        information. I am convenient because I require little markup to use
        effectively.
      </p>
    </div>
  </div>
</div>
