<div class="side-nav-slim z-depth-2">
  <ul class="side-nav white-text">
    <li
      class="side-nav-item <%= active==1?'active':'' %> valign-wrapper"
      onclick="location.href='/user/dashboard'"
    >
      <i class="material-icons small">home</i>
    </li>
    <li
      class="side-nav-item <%= active==2?'active':'' %> valign-wrapper"
      onclick="location.href='/sheet/new'"
    >
      <i class="material-icons small">add</i>
    </li>
    <li class="side-nav-item <%= active==3?'active':'' %> valign-wrapper">
      <i class="material-icons small">search</i>
    </li>
  </ul>
</div>

<div class="fixed-action-btn mobile-nav click-to-toggle">
  <a class="btn-floating btn-large blue darken-3">
    <i class="large material-icons">menu</i>
  </a>
  <ul>
    <li>
      <a
        href="/user/dashboard"
        class="btn-floating btn-large deep-purple darken-4"
        ><i class="material-icons">home</i></a
      >
    </li>
    <li>
      <a href="/sheet/new" class="btn-floating btn-large teal darken-3"
        ><i class="material-icons">add</i></a
      >
    </li>
    <li>
      <a class="btn-floating btn-large green"
        ><i class="material-icons">search</i></a
      >
    </li>
  </ul>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    M.FloatingActionButton.init(
      document.querySelectorAll(".fixed-action-btn"),
      {
        hoverEnabled: false
      }
    );
  });
</script>
