<div class="side-nav-slim z-depth-2">
  <ul class="side-nav white-text">
    <li
      class="side-nav-item <%= active==1?'active':'' %> valign-wrapper"
      onclick="location.href='/user/dashboard'"
    >
      <i class="material-icons small">home</i>
    </li>
    <li
      class="side-nav-item <%= active==2?'active':'' %> valign-wrapper"
      onclick="location.href='/sheet/new'"
    >
      <i class="material-icons small">add</i>
    </li>
    <li class="side-nav-item <%= active==3?'active':'' %> valign-wrapper">
      <i class="material-icons small">search</i>
    </li>
  </ul>
</div>
