<link rel="stylesheet" href="/css/login.css" />
<div class="wrapper">
  <div class="login-box z-depth-5">
    <h1 class="heading" id="form-title">MYOS</h1>
    <%- include("./partials/messages.ejs") %>
    <div class="form-container">
      <form class="col s12" action="/user/login" method="POST">
        <div class="row deep-orange lighten-5" id="form-box">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="username" type="text" name="username" class="validate" />
            <label for="username">Username</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <input
              id="password"
              type="password"
              name="password"
              class="validate"
            />
            <label for="password">Password</label>
          </div>
        </div>
        <div class="input-field col s12">
          <button
            class="btn waves-effect waves-light pink darken-4"
            type="submit"
            name="action"
            id="register-btn"
          >
            Login
          </button>
        </div>
      </form>
      <p class="guider-text">
        Don't have an account yet?<br />
        Make one <a href="/user/signup">Here</a>
      </p>
    </div>
  </div>
</div>
