body {
  background: rgb(248, 234, 233, 0.8);
}

.main-area {
  margin-left: 4.5% !important;
  width: 70.5%;
  margin-right: 0 !important;
  padding: 10px;
}

.main-area .sheet-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.sheet-card {
  width: 29%;
  margin: 2%;
  position: relative;
  font-size: 0.9em;
  border-radius: 3%;
}

.sheet-card .sheet-card-btns {
  box-shadow: inset 0px 0px 10px black;
  border-radius: 3%;
}

.sheet-card .sheet-card-btns .btn {
  margin: 10px 0;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 1.2em;
}

.sheet-card .edit {
  background: #9c3b6f;
}
.sheet-card .delete {
  background: #c02739;
}

.main-area .card-title {
  padding: 0;
  margin: 0;
  font-size: 2em;
  margin-top: -2px;
  margin-bottom: 12px;
  border-bottom: 1px solid black;
}

.input-box .btn-box {
  padding: 20px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .main-area {
    width: 100%;
    margin: 0 !important;
    box-sizing: border-box;
  }

  .sheet-card {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .input-box .btn-box {
    padding: 20px 0;
    text-align: center;
  }
}
