/* ######################## NEW SHEET AREA #################### */

body {
  background: #f8eae9;
}

.workspace {
  width: 95.5%;
  margin-left: 4.5%;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.workspace .title-bar {
  display: flex;
  flex-direction: row;
}

.workspace .title-bar > label {
  font-size: 2em;
}
.workspace .title-bar #sheet-title {
  font-size: 2em;
}

.workspace .title-bar .btn-box {
  justify-content: space-evenly;
}

.sheet-box {
  padding: 15px;
  display: flex;
  flex-direction: row;
}

#comp-title {
  padding-left: 0;
}

.sub-head {
  padding: 0;
  margin: 0;
}

.blank {
  height: 200px;
  margin: 10px;
  background: #fff;
  overflow-y: auto;
}

.displayblock {
  color: black;
  border: 1px black;
}

.code {
  padding: 10px;
}

.code-card {
  min-height: 300px;
  overflow-y: auto;
}

.collapsible {
  clear: both;
}

.collapsible-header {
  /* background: #263238;
  color: white; */
}

.sheet-box label {
  font-size: 1em !important;
}

input[type="color"] {
  width: 100%;
  height: 50px;
  border-radius: 0;
}

#input-sub-title {
  margin-top: 20px;
}

#component-btn {
  background: #9c3b6f;
}

#save {
  background: #9c3b6f;
  margin-right: 50px;
}

.code {
  box-shadow: inset 0 0 10px #000000;
}

#all-components .collection-item {
  font-size: 1.2em;
  text-align: center;
}

.cmp-btn-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.cmp-edit {
  margin-right: 10px;
  background: #9c3b6f;
}

.cmp-delete {
}

.cmp-btn-box i {
  z-index: -1;
}

@media only screen and (max-width: 768px) {
  .workspace {
    width: 100%;
    margin: 0;
  }

  .sheet-box {
    flex-direction: column;
    padding: 0;
  }

  .workspace .title-bar {
    flex-wrap: wrap;
  }
}
